:host {
  --ion-background-color: #ffffff;
}

ion-content {
  --padding-start: 2rem;
  --padding-end: 2rem;
  --padding-top: 3rem;

  ion-input {
    background: #f1f3f6;
    color:black;
    border-radius: 12px;
    margin-bottom: 1.5rem;
    padding-left: 1rem !important;
    --highlight-color-focused: #4a6cf7;
  }

  ion-button {
    margin-top: 1rem;
    border-radius: 12px;
    font-weight: 500;

    &[expand="block"] {
      --background: #4a6cf7;
      --background-hover: #3a5ce4;
    }

    &[fill="clear"] {
      --color: #7f8c8d;
      margin-top: 0.5rem;
    }
  }
}